<div class="container bg-dark p-5">
  <div class="row">
    <div class="col-10 text-center bg-light m-3">{{resultado}}</div>
    <div (click)="handleClick(1)" class="col-3 text-center bg-light m-3">1</div>
    <div (click)="handleClick(2)" class="col-3 text-center bg-light m-3">2</div>
    <div (click)="handleClick(3)" class="col-3 text-center bg-light m-3">3</div>
    <div (click)="handleClick('+')" class="col-1 text-center bg-light m-3">+</div>
    <div (click)="handleClick(4)" class="col-3 text-center bg-light m-3">4</div>
    <div (click)="handleClick(4)" class="col-3 text-center bg-light m-3">5</div>
    <div (click)="handleClick(6)" class="col-3 text-center bg-light m-3">6</div>
    <div (click)="handleClick('-')" class="col-1 text-center bg-light m-3">-</div>
    <div (click)="handleClick(7)" class="col-3 text-center bg-light m-3">7</div>
    <div (click)="handleClick(8)" class="col-3 text-center bg-light m-3">8</div>
    <div (click)="handleClick(9)" class="col-3 text-center bg-light m-3">9</div>
    <div (click)="resolver()" class="col-1 text-center bg-light m-3">=</div>
    <div class="col-3 text-center bg-dark m-3"></div>
    <div (click)="handleClick(0)" class="col-3 text-center bg-light m-3">0</div>
  </div>
</div>
